<h1>Image Gallery</h1>

<h4>
	In the gallery below, you can browse custom cornhole boards (and other products) that I have created in the past. If you don't see something here that you like, please <a href="mailto:RHardin527@aol.com">email RHardin527@aol.com</a> and we can discuss your desired design!
</h4>

<div ng-controller="GalleryController">
	<h2>Boards</h2>
	<div deckgrid source="images" class="deckgrid">
		<div class="photo">

		    <div class="photo-wrapper">
		    	<img src="" data-ng-src="{{card.src}}" class="animation-fade" data-imageloaded data-loadedclass="animation-faded">
		    </div>
		    <div class="photo-description">
		    	<h3>{{card.name}}</h3>
			</div>
		</div>

	</div>
</div>
